@use './default' as default;

.slider-container {
	max-width: 100vw;
	max-height: 100vh;
	display: flex;
    justify-content: flex-start;
	overflow:hidden;
}


.slider-gallery {
	@include default.d-flex;
	transition: transform 0.7s ease-in-out;
	height: 100vh;
}

.slider-items {
	@include default.d-position;
	@include default.d-flex;
	@include default.d-size;
}

.slider-img {
	@include default.d-flex;
	@include default.d-size;
}

/* CSS related to buttons : 
***************************************************/
.buttons {
	@include default.d-flex;
}

.button-slider-container {
	@include default.d-position;
	@include default.d-flex($j-content:space-between);
	width:95%;
}

.button-slider-container .buttons svg {
	background: transparent;
	width: 50px;
	height: 50px;
	z-index:5;
}
 
/* CSS related to dots on img
***********************************************************************/
.dot-container {
	@include default.d-position;
	@include default.d-flex(baseline, space-evenly);
	width:20%;
	top : 95%;
	z-index: 11;
}

.dot-style {
	border-radius:50%;
	background-color: #704A80;
	width:10px;
	height:10px;
	opacity:0.3;
}

.bg-selected {
	// background-color: #4f4872;
	background-color: #fff;
}


/* Responsive CSS carousel
***************************************************************/

@media only screen and (max-width:1080px) {

	.button-carousel-container .button-carousel i {
		width:20px;
		height:20px;
	}
	
}

@media only screen and (max-width:560px) {

	.button-carousel-container {
		display:none;
	}
	

}