@use './css/default';
@use './css/animations' as animate;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, Roboto, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: default.$font-size;

	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

svg {
	vertical-align: middle;
}

/***********************************************************

	HANDLETHEME

***************************************************************/

.light {
	@include default.theme($theme:'light')
}

.dark {
	@include default.theme($theme:'dark');
}

.logo-svg-lightmode polygon {
	fill:rgba(255, 255, 255, 0.336);
}


/***********************************************************

	HEADER

***************************************************************/

.header {
	position:fixed;
	height : default.$h-height;
	@include default.priority;
}

.header svg {
	width: 50px;
	max-width: 16px;
}

.header svg path {
	fill:white;
}

.header.light svg path {
	@include default.theme($theme:'light')
}

.header-menu {
	@include default.d-flex($j-content:flex-end);
}

.header-menu-item, .header-menu-item div {
	@include default.d-flex;
	width: 50px;
	height:50px;
}




/* **************************************************************

Loaders

***************************************************************/

.video-spinner {
	@include default.d-flex;
	@include default.img-fit;
}

.loader-container {
	@include default.d-flex;
	@include default.d-size;
	background : default.$d-bg;
	position: fixed;
	animation: animateBG 10s linear infinite;
	z-index: 10000;
}

@keyframes animateBG {
	0% {
		filter:hue-rotate(0deg);
	}
	
	100% {
		filter:hue-rotate(360deg);
	}
}

.loader {
	position: relative;
	width: 30px;
	height: 30px;

}

.loader span {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
	content:'';
	position:absolute;
	top: 0;
	left: 0;
	width: 5px;
	height:5px;
	background-color: #4f4872;
	box-shadow: 
	0 0 10px #4f4872,
	0 0 30px #704A80,
	0 0 50px #9b85a5;
	animation: animate 2s linear infinite;
	animation-delay: calc(0.05s * var(--i));
	opacity: 0;
	border-radius: 50%;
}

@keyframes animate {
	0% {
		opacity: 1;
		transform:scale(1);
	}
	
	80%,100% {
		
		transform:scale(0);
	}
}

/*****************

General CSS

******************/

.validate, .error-page {
	@include default.d-flex($direction:column);
	@include default.d-size;
	color: default.$color;
}

/***************************************

Mobile

********************************/

.mobile-version {
	background : default.$d-bg;
}

.mobile-version, .mobile-section {
	max-width: 900px;
	min-width: 267px;
}

.mobile-section, .middle-frame-zoom {
	@include default.d-flex;
}

.mobile-bg {
	position:fixed;
	left:0;
	top:0;
}

.cog-ctn-mobile {
	@include default.d-flex($direction:column);
	position:relative;
}

.cog-ctn-mobile > div {
	margin-top: 80px;
	left:3vw;
}

/**************************************

Intro page

*****************************************/

.layers {
    @include default.d-flex;
    @include default.d-position;
}

.layers {
    @include default.d-size;
	z-index:1;
}

.middle-frame-zoom {
    @include default.d-position;
}

.small-frame {
    width: 250px;
    height: 250px;
    padding:50px;
    border-radius: 30px;
    opacity: 0.3;
    filter:blur(0.1rem);
    border: 10px solid default.$color-element;
}

.middle-frame {
    width: 350px;
    height: 350px;
    padding:50px;
    border-radius: 30px;
    opacity: 0.8;
    z-index:3;
    border: 12px solid default.$color-element;
}


/**************************************

Satisfied page

*****************************************/

.size-inherit {
	@include default.d-inherit;
}

.satisfied-links :hover {
    transition: 1s all ease;
    opacity:0.1;
}

/**************************************

Pop-Up Screens

*****************************************/

.popup-ctn, .static-ctn-style, .static-div-style, .popup-span {
    @include default.d-flex;
}

.static-ctn-style {

    position:relative;
    border-radius: 10px;
    z-index: 5;

}

.static-div-style {

    font-family : default.$font-family;
    text-align: center;
}

.popup-span {
    @include default.d-inherit;
}


/**************************************

Modal

*****************************************/


:root .modal * {
	background: transparent;
	z-index:100000;
  }

:root .modal-header {
	@include default.d-flex($direction:column);
	flex-flow: column-reverse;
}


:root .modal-ai-img img {
	object-fit: contain;
	width:100%;
}



/**************************************

Cogwheels

*****************************************/

.cog-skills-ctn, .wrapper, #cog-1, #cog-2, #cog-3 {
	position:relative;
}


.cogwheel {
    @include default.d-position;
}

.cog-skills-ctn {

    display:grid;
    grid-template : 
    "c2 c2 c1 c1 c3 c3"
	"c2 c2 c1 c1 c3 c3";
    z-index:8;
}

.wrapper {
    @include default.d-flex;
}

#cog-1 {
    grid-area : c1;
	left: 30px;
}

#cog-2 {
    grid-area : c2;
	top: -30px;
}

#cog-3 {
    grid-area : c3;
	left: -30px;
}

.spin-left {
    @include animate.rotate('left');
}

.spin-right {
    @include animate.rotate('right');
}


/**************************************

Side Message

*****************************************/

@mixin position-message($side) {

    top: -10px;
    position:absolute;

    @if $side != 'left' and $side != 'right' {
        @error "Property #{$side} must be either left or right.";
      }

    @if $side == 'left' {

        left: 0vw;

    }
    @if $side == 'right' {

        left: -16vw;
        text-align: right;

    }
}

.appear-left {
    @include position-message(left)
}

.appear-right {
    @include position-message(right)
}

.side-message-ctn {

    @include default.d-flex;
    z-index:9;

}

.side-message {

    font-family: default.$font-family;
    color: default.$color;
    @include default.dmp(0 0.5rem);
    @include default.d-position;
    width:15vw;
}
/**************************************

Cubes

*****************************************/

.cubes {
	@include default.d-flex;
}

#light-cube {
	z-index:2;
	position:absolute;
	background: radial-gradient(#5ae5e5, transparent 80%);
	@include animate.rotate('right', 10)
}

#light-cube-bg {
	@include animate.rotate('left', 30);
}




/**************************************

Some responsive

*****************************************/

@media screen  and (min-width: 900px){

	body {
		overflow: hidden;
		background:transparent;
	}
}

@media screen and (max-width: 900px){
	:root {
		font-size:0.9rem;
	}

	* {
		margin:0 !important;
	}
	.popup-ctn {
		overflow-x: hidden;
	}
}

@media screen and (min-width: 1920px) {
	:root {
		font-size: 2rem;
	}
	
}

@media screen and (min-width: 3840px) {
	:root {
		font-size: 3rem;
	}
	
}